<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cookbook</title>
    <base href="/">

    <link href="~/Content/general.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/recipe-list.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/recipe.css" rel="stylesheet" type="text/css" />
    <link rel="icon" href="~/Content/images/favicon.ico" type="image/x-icon" />

    <script src="~/scripts/libs/angular.min.js"></script>
    <script src="~/scripts/libs/angular-ui-router.min.js"></script>

    <script src="~/scripts/app/app.module.js"></script>
    <script src="~/scripts/app/app.config.js"></script>
    <script src="~/scripts/app/services/recipe.svc.js"></script>
    <script src="~/scripts/app/app.cmp.js"></script>
    <script src="~/scripts/app/recipe/recipe.cmp.js"></script>
    <script src="~/scripts/app/recipe-list/recipe-list.cmp.js"></script>
</head>
<body ng-app="app">

    <div class="container">
        @RenderBody()
    </div>

</body>
</html>