.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.content .recipe {
    background-color: #ebffc6;
    border-radius: 3px;
    display: flex;
    height: 170px;
    margin: 10px 0;
    position: relative;
    width: 49%;
}

.content .recipe:nth-child(odd) {
    margin-right: 10px;
}

.recipe > img.img {
    height: 100px;
    margin: 20px;
    width: 100px;
}

.recipe .delete,
.recipe .edit {
    cursor: pointer;
    display: block;
    height: 15px;
    margin: 8px;
    position: absolute;
    right: 0;
    width: 15px;
}

.recipe .edit {
    right: 20px;
}

.recipe .recipe-content {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.recipe .recipe-content .title {
    font-size: 20px;
    margin: 10px 50px 5px 10px;
}

.recipe .recipe-content .date {
    color: #707274;
    font-size: 14px;
    margin: 0px 20px;
}

.recipe .recipe-content .description {
    display: -webkit-box;
    font-size: 16px;
    margin: 5px 10px;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.list-recipe-header {
    display: flex;
    justify-content: space-between;
}

.list-recipe-header .add-btn {
    margin: 10px 0 0;
    width: 100px;
}

.list-recipe-header .add-btn:hover {
    background-color: #3e8e41;
}

/* Dropdown */
.dropbtn,
.list-recipe-header .add-btn {
    background-color: #5cb85c;
    border: none;
    border-radius: 2px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 8px;
}

.dropdown {
    display: inline-block;
    margin: 10px 0 0;
    position: relative;
}

.dropdown-content {
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    display: none;
    min-width: 160px;
    position: absolute;
    right: 0;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    display: block;
    padding: 12px 16px;
    text-decoration: none;
}

.dropdown-content a.active::before {
    content: '\2713';
    font-size: 13px;
    font-weight: bold;position: relative;
    left: -6px;
    top: 0;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

@media (max-width: 991px) {
    .recipe > img.img {
        height: 80px;
        margin: 10px;
        width: 80px;
    }

    .recipe .recipe-content .title {
        font-size: 18px;
    }

    .recipe .recipe-content .date {
        font-size: 13px;
    }

    .recipe .recipe-content .description {
        font-size: 15px;
    }

    .recipe .delete, 
    .recipe .edit {
        height: 17px;
        width: 17px;
    }
}

@media (max-width: 768px) {
    .content .recipe {
        width: 100%;
    }

    .content .recipe:nth-child(odd) {
        margin-right: 0;
    }

    .recipe .delete, 
    .recipe .edit {
        height: 20px;
        width: 20px;
    }

    .recipe .edit {
        right: 25px;
    }

    .recipe .recipe-content .title {
        margin-right: 60px;
    }
}


@media (max-width: 480px) {
    .content .recipe {
        height: 150px;
    }

    .recipe > img.img {
        height: 60px;
        width: 60px;
    }

    .recipe .delete, 
    .recipe .edit {
        height: 17px;
        width: 17px;
    }

    .recipe .edit {
        right: 20px;
    }

    .recipe .recipe-content .title {
        margin-right: 50px;
    }

    .recipe .recipe-content .title {
        font-size: 16px;
    }
}